---
layout: default

---

<div class="container col-md-7">






  <section class="about-section ">
    <h2>Web Design isn’t a job<br />it’s an Adventure.</h2>
    <p>I’m Chris, a Web/UI Designer in Austin, Texas. This will say something really freaking cool in the future, so just wait and see. I'm not kidding! It will be great! Okay...maybe just okay. I like kittes, I make websites... goodbye.</p>
    <p>
      <a class="about-btn" href ="#">LEARN MORE</a>
    </p>
  </section>







  <section class="portfolio">
    <h3>Recent Work</h3>
    
    
    <div class="hover column">
      <div class="port-img col-sm-6 ">
      <figure ><img src="images/quest2.jpg" /></figure>
      <h4>Quest ATX</h4>
      <p>RWD,Bootstrap</p>
    </div>
    <div class="port-img col-sm-6 ">
    <figure ><img src="images/bouldin.jpg" /></figure>
    <h4>Bouldin Creek Cafe</h4>
    <p>RWD,Bootstrap</p>
  </div>
  <div class="port-img col-sm-6 ">
  <figure ><img src="images/zengarden.jpg" /></figure>
  <h4>CSS Zen Garden</h4>
  <p>RWD,Bootstrap</p>
</div>

<div class="port-img col-sm-6 ">
<figure ><img src="images/quest2.jpg" /></figure>
<h4>Quest ATX</h4>
<p id="pad-none">RWD,Bootstrap</p>
</div>
</div>




</section>

<section class="blog">
<h3><a href="blog.html">Blog</a></h3>
<!-- <ul class="post-list col-sm-5">
{% for post in site.posts %}
<li>
<span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
<h2>
<a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
</h2>
</li>
{% endfor %}
</ul>
 -->

<div class=" entries ">



  <ul class="post-list">
    {% for post in site.posts %}
      <li class="preview">
        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
        <p> {{  truncatewords:75}} </p>
      </li>
    {% endfor %}
  </ul>

 


      
</div>



</section>


</div>
