<header>
  <div class="wrap">
     <a href="index.html"><img src="/images/logo.svg"></a>
    <nav class="nav-collapse">
      <ul>
        <li><a href="/index.html" class="underline">HOME</a></li>
        <li><a href="about.html">ABOUT</a></li>
        <li><a href="index.html">PORTFOLIO</a></li>
        
        <li><a href="#">BLOG</a></li>
        <li><a href="#">CONTACT</a></li>
      </ul>
      
    </nav>
  </div>
</header>

<div class="hero-background col-md-4">
  <div class="hero-container">
    
    <div class="logo">
   <!--  <img src="images/logo.svg"> -->
    <div class="text-float">
    
    <h1>CHRIS JORDAN</h1>
    <h2>WEB / UI DESIGNER</h2>
    </div>
    </div>

  <ul>
    <li><a href="#" class="underline">HOME</a></li>
    <li><a href="#">ABOUT</a></li>
    <li><a href="#">BLOG</a></li>
    <li><a href="#">PORTFOLIO</a></li>
    
    <li><a href="#">CONTACT</a></li>
  </ul>

</div>
</div>