/* About page
===================================*/
.about-page {
    h2 {
        font-size: 2rem;
        font-size: 32px;
        padding-bottom: 15px;
        max-width:425px;
        line-height:1.2;
    }
    p {
        padding-top: 30px;
    }
}