/* About page
===================================*/
.about-page {
    h2 {
        font-size: 2.625rem;
        font-size: 42px;
        padding-bottom: 15px;
    }
    p {
        padding-top: 30px;
    }
}