@import "reset";
@import "responsive-nav";

/* Global
===================================*/

body {
    background: #fff;
}

.container {
    width: 90%;
    margin: 0 auto;
}

img {
    width: 100%;
    border-radius: 4px;
}

.btn {
    color: #2E3031;
    display: block;
    background: #f9d76d;
    box-shadow: inset 0 -2px rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin: 0 auto;
    text-align: center;
    border-radius: 4px;
    overflow: hidden;
    clear: both;
    float: left;
}

.btn:hover {
    background: #2E3031;
    color: #f9d76d;
    box-shadow: inset 0 -2px lightgrey;
}

section {
    padding: 80px 0 80px 0;
    clear: both;
    overflow: hidden;
}

/*  Centering for medium screens
===================================*/

.blog-center {
    width: 90%;
    float: none;
    margin: 0 auto;
}

/* Header Section
===================================*/
header {
    background: #2E3031;
    width: 100%;
    overflow: hidden;
    padding: .5rem 0;
    position: relative;
    z-index: 10;
    .wrap {
        max-width: 90%;
        margin: 0 auto;
        overflow: hidden;
    }
    img {
        width: 40px;
        margin-top: 5px;
    }
}

/* Hero-img Section
===================================*/
.hero-background {
    background-size: auto, cover;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, .4), rgba(0, 0, 0, .4)), url(/images/black-and-white-road.jpg);
    // background-image: url(https://static.pexels.com/photos/28026/pexels-photo-28026.jpg);
    // background-attachment: scroll, fixed;
    width: 100%;
    min-height: 300px;
    background-position: bottom;
}


.hero-container {
    position:relative;
    z-index:100;
    .logo {
        padding-top: 100px;
        img {
            display: none;
        }
        h1 {
            font-weight: 700;
            font-size: 2.125rem;
            font-size: 34px;
            color: black;
            color: white;
            text-align: center;
        }
        h2 {
            font-weight: 300;
            font-size: 1.5rem;
            font-size: 24px;
            color: black;
            color: white;
            text-align: center;
        }
    }
}

li {
    display: none;
}

/* About section 
===================================*/
.about-section {
    h3 {
        line-height: 1.1;
    }
    p {
        padding-bottom: 28px;
        &:last-child {
            padding-bottom: 0;
        }
    }
}

/* Portfolio Section
===================================*/

.portfolio {
    border-top: 2px solid #efefef;
    img {
        width: 100%;
        float: left;
    }
    figure {
        width: 100%;
        margin-bottom: 15px;
        padding: 0;
        background: #fff;
        overflow: hidden;
        img {
            border-radius: 4px;
        }
    }
    figure:hover + span {
        bottom: -36px;
        opacity: 1;
    }
    .hover figure {
        background: white;
    }
    .hover figure img {
        opacity: 1;
        -webkit-transition: .3s ease-in-out;
        transition: .3s ease-in-out;
    }
    .hover figure:hover img {
        opacity: .5;
    }
    .port-img {
        h4 {
            padding-bottom: 5px;
        }
        p {
            padding-bottom: 60px;
        }
    }
}

/* Portfolio section bottom padding fix on small
===================================*/
.portfolio {
    .port-img {
        &:last-child {
            p {
                padding-bottom: 28px;
            }
        }
    }
}

/* Blog Section
===================================*/
.blog {
    float: left;
    border-top: 2px solid #efefef;
    width: 100%;
}

.entries-home {
    overflow: hidden;
    width: 100%;
    float: left;
    .preview {
        width: 100%;
        display: block;
        float: left;
        clear: right;
        overflow: hidden;
        margin: 0 0 60px 0;
        &:last-child {
            margin-bottom: 28px;
        }
        &:nth-child(even) {
            margin-right: 0%;
        }
    }
    h2 a {
        display: block;
        margin-bottom: 5px;
    }
    h2 a:hover {
        color: #f9d76d;
    }
    .post-meta {
        line-height: 1.6;
    }
    p {
        color: black;
        margin-bottom: 0px;
    }
}

/* Contact Section
===================================*/

.contact {
    border-top: 2px solid #efefef;
    float: left;
    width: 100%;
    p {
        padding-bottom: 28px;
        &:last-of-type {
            padding-bottom: 0;
        }
    }
}

footer {
    // background: url(/images/road-footer.jpg);
    // background-size:cover;
    background: #2E3031;
    padding: 50px 0 50px 0;
    width: 100%;
    float: left;
    text-align:center;
    img {
        max-width: 30px;
    }
    ul {
        margin: 0 auto 10px auto;
        overflow: hidden;
        max-width: 165px;
          text-align:center;

        li {
            display: block;
            float: left;
            margin-right: 15px;
            &:last-child {
                margin-right: 0;
            }
        }
    }
    p{

        color:white;
        max-width:200px;
        margin:0 auto;
        
    }
    a{
        color:#f9d76d;
    }
}

.last-para{
    padding-bottom:80px;
}





@import "about-page";
@import "portfolio-page";
@import "projects-page";
@import "blog-page";
@import "contact-page";
@import "mixin";
@import "mediaqueries";