@media screen and (min-width: 480px) {
    .hero-container {
        .logo {
            h1 {
                font-size: 2.75rem;
                font-size: 44px;
            }
            h2 {
                font-size: 1.875rem;
                font-size: 30px;
            }
        }
    }
    h3 {
        font-size: 2rem;
        font-size: 32px;
    }
    .about-section {
        h2 {
            font-size: 1.875rem;
            font-size: 30px;
        }
        p {
            line-height: 1.6;
        }
    }
    .btn {
        display: inline-block;
        padding: 10px 15px 10px 15px;
    }
    .entries-home {
        .preview {
            width: 47.4444%;
            padding-right: 5%;
            &:nth-child(odd) {
                margin-bottom: 28px;
            }
            &:nth-child(even) {
                padding-right: 0;
            }
        }
    }
    .entries {
        .preview {
            width: 47.4444%;
            padding-right: 5%;
            &:nth-child(odd) {
                margin-bottom: 28px;
            }
            &:nth-child(even) {
                padding-right: 0;
            }
        }
    }
    footer {
        p {
            max-width: 400px;
        }
    }
}

@media screen and (min-width: 768px) {
    /* Portfolio section bottom padding fix on large
===================================*/
    .portfolio {
        .port-img {
            &:nth-last-child(2) {
                p {
                    padding-bottom: 28px;
                }
            }
            &:last-child {
                p {
                    padding-bottom: 0;
                }
            }
        }
    }
    .port-img {
        margin-right: 5%;
        &:nth-child(even) {
            margin-right: 0;
        }
    }
    /* For Quest portfolio page
===================================*/
    .quest {
        .port-img {
            margin-right: 5%;
            &:nth-child(even) {
                margin-right: none;
            }
        }
        #pad-none-big {
            padding-bottom: 28px;
        }
    }
    /* Adds padding 
       ===================================*/
    .padding {
        padding-top: 30px;
    }
    .about-page {
        p {
            // margin-left: 10%;
       
        }
    }
    /* Fixes Doc Browns imgs on large
           ===================================*/
    .doc-process {
        .col-sm-6 {
            &:nth-child(even) {
                padding-top: 30px;
            }
        }
    }
    .about-page {
        h2 {
            font-size: 2.625rem;
            font-size: 42px;
        }
    }
}

@media screen and (min-width: 992px) {
    header {
        display: none;
    }
    .hero-background {
        display: block;
        height: 100%;
        position: fixed;
        float: left;
    }
    .container {
        margin-left: 33.33333%;
        width: 66.66666667%;
        overflow: hidden;
    }
    section {
        width: 90%;
        margin-left: 5%;
    }
    header {
        display: none;
        background: #2E3032;
        float: right;
        position: fixed;
    }
    .hero-container {
        padding-right: 10%;
        h1, h2, li {
            text-align: right;
        }
        .logo {
            padding-top: 80px;
            h1 {
                position: relative;
                font-size: 2.125rem;
                font-size: 34px;
                text-align: right;
                &:before {
                    background: url(../images/logo.svg);
                    background-repeat: no-repeat;
                    width: 570px;
                    content: "";
                    padding: 0 0px 0 50px;
                    position: relative;
                    top: 15px;
                }
            }
            h2 {
                font-size: 1.5rem;
                font-size: 24px;
                // padding-bottom: 50px;
                text-align: right;
            }
        }
        .icons {
            float: right;
            overflow: hidden;
            margin: 20px 0 30px 0;
            li {
                max-width: 25px;
                max-height: 25px;
                float: left;
                margin-right: 15px;
                &:last-child {
                    margin-right: 0;
                }
            }
        }
        ul {
            overflow: hidden;
            float: right;
            clear: both;
            li {
                display: block;
                padding-bottom: 15px;
                a {
                    color: white;
                    font-size: 1.063rem;
                    font-size: 17px;
                }
            }
        }
    }
    .btn {
        float: left;
    }
    .about-section, .portfolio {
        overflow: hidden;
    }
    .post-center {
        max-width: none;
        margin: 0;
    }
    .projects {
        section {
            ul {
                width: 80%;
            }
        }
    }
    .entries-home {
        .preview {
            width: 47.5%;
        }
    }
    .contact, .blog {
        width: 90%;
    }
    .about-page, .projects {
        section {
            ul {
                max-width: 500px;
            }
        }
    }
    footer {
        display: none;
    }
    .entries {
        padding-top: 2px;
    }
}

@media screen and (min-width: 1400px) {
    .hero-container {
        .logo {
            h1 {
                position: relative;
                font-size: 3rem;
                font-size: 48px;
                text-align: right;
                &:before {
                    background: url(../images/logo.svg);
                    background-repeat: no-repeat;
                    width: 570px;
                    content: "";
                    padding: 0 25px 0 50px;
                    position: relative;
                    top: 20px;
                }
            }
            h2 {
                font-size: 2.25rem;
                font-size: 36px;
                text-align: right;
            }
        }
    }
    .entries {
        padding-top: 5px;
    }
}