---
layout: default
---
<header>
  <div class="wrap">
     <a href="/index.html"><img src="/images/logo.svg"></a>
    <nav class="nav-collapse">
      <ul>
        <li><a href="/index.html" class="underline">HOME</a></li>
        <li><a href="/about.html">ABOUT</a></li>
        <li><a href="/portfolio.html">PORTFOLIO</a></li>
        
        <li><a href="/blog.html">BLOG</a></li>
        <li><a href="/contact.html">CONTACT</a></li>
      </ul>
      
    </nav>
  </div>
</header>

<div class="hero-background col-md-4">
  <div class="hero-container">
    
    <div class="logo">
   <!--  <img src="images/logo.svg"> -->
    <div class="text-float">
    
    <h1>CHRIS JORDAN</h1>
    <h2>WEB / UI DESIGNER</h2>
    </div>
    </div>

  <ul>
    <li><a href="/index.html" class="underline">HOME</a></li>
    <li><a href="/about.html">ABOUT</a></li>
    <li><a href="/blog.html">BLOG</a></li>
    <li><a href="/portfolio.html">PORTFOLIO</a></li>
    
    <li><a href="/contact.html">CONTACT</a></li>
  </ul>

</div>
</div>








<div class="container">
<section>
    <div class="post">

<div class="post-center">
    <h3 class="post-title">{{ page.title }}</h3>
    <span class="post-meta meta-style">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</span>


  <article class="post-content">
    {{ content }}
  </article>
  </div>

</div>
</section>
</div>
